/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.button {
	-fx-background-color: #FFA31A;
	-fx-font: 26px "Serif";
	-fx-text-fill: #000000;
	-fx-min-height: 50px;
	-fx-min-width: 200px;
}

.button:hover {
	-fx-background-color: linear-gradient(#FFA31A 80%, white 100%);
	-fx-font: 26px "Serif";
	-fx-text-fill: #FFFFFF;
	-fx-min-height: 50px;
	-fx-min-width: 200px;
}

.root{
	-fx-background-color: #000000;
}
